.single-task {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
}

.single-task h3 {
    font-size: 20px;
    margin-bottom: 0.5rem;
}

.single-task p {
    max-width: 400px;
    margin-bottom: 0.5rem;
    min-width: 300px;
    text-align: center;
}

.single-task span {
    font-weight: 600;
}

.button {
    padding: 8px 30px;
    border: none;
    background: linear-gradient(45deg, red, #FFA41B);
    border-radius: 4px;
    color: white;
    font-weight: 600;
    margin-top: 2rem;
}